In [1]:
import pandas as pd
import datetime as dt

In [2]:
import numpy as np

In [3]:
data = pd.read_csv('Lending_company.csv', index_col='LoanID')
df = data.copy()
df.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [4]:
mydate = dt.date(2022, 10, 21)
mydate

datetime.date(2022, 10, 21)

In [5]:
type(mydate)

datetime.date

In [6]:
mydate.year, mydate.month, mydate.day, mydate.weekday()

(2022, 10, 21, 4)

In [8]:
delta = dt.date(2022,10,20) - mydate

In [9]:
mydate - delta

datetime.date(2022, 10, 22)

In [10]:
mydate.replace(month = 10)

datetime.date(2022, 10, 21)

In [11]:
mydate.strftime('%Y')

'2022'

In [12]:
mydate

datetime.date(2022, 10, 21)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043 entries, 1 to 1043
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StringID        1043 non-null   object
 1   Product         1043 non-null   object
 2   CustomerGender  1043 non-null   object
 3   Location        1043 non-null   object
 4   Region          1042 non-null   object
 5   TotalPrice      1018 non-null   float64
 6   StartDate       1042 non-null   object
 7   Deposit         1043 non-null   int64
 8   DailyRate       1043 non-null   int64
 9   TotalDaysYr     1043 non-null   int64
 10  AmtPaid36       1043 non-null   int64
 11  AmtPaid60       1043 non-null   int64
 12  AmtPaid360      1043 non-null   int64
 13  LoanStatus      1006 non-null   object
dtypes: float64(1), int64(6), object(7)
memory usage: 122.2+ KB

In [14]:
df['StartDate'] = pd.to_datetime(df['StartDate'])


# Timestamp

In [15]:
mytimestamp = 158215801.2000

In [16]:
print(dt.datetime.fromtimestamp(mytimestamp))

1975-01-06 10:20:01.200000

In [17]:
#with time zone info
print(dt.datetime.utcfromtimestamp(mytimestamp))

1975-01-06 04:50:01.200000

In [18]:
new_date_time = dt.datetime(2022,10,22,17,36,50)
new_date_time

datetime.datetime(2022, 10, 22, 17, 36, 50)

In [19]:
new_date_time.timestamp()

1666440410.0

In [20]:
current_time = dt.datetime.now()
current_time

datetime.datetime(2022, 10, 22, 20, 29, 18, 457438)

In [21]:
current_time.timestamp()

1666450758.457438

In [22]:
curr_datetime =  current_time.timestamp()

In [23]:
dt.datetime.fromtimestamp(curr_datetime)

datetime.datetime(2022, 10, 22, 20, 29, 18, 457438)

# Converting between time zones

In [30]:
import pytz

In [29]:
print(current_time.tzinfo)

None

In [28]:
print(current_time.tzname)

<built-in method tzname of datetime.datetime object at 0x000001DEDCD41360>

In [32]:
# adding tz_info to date object

new_time_zone_info = dt.datetime(2022,10,22,16,59,59, tzinfo= pytz.UTC)
new_time_zone_info

datetime.datetime(2022, 10, 22, 16, 59, 59, tzinfo=<UTC>)

In [33]:
print(new_time_zone_info.tzinfo)

UTC

In [34]:
print(new_time_zone_info.tzname)

<built-in method tzname of datetime.datetime object at 0x000001DEDE7B0E40>

In [35]:
# changing time Zone info
tz_us = new_time_zone_info.astimezone(pytz.timezone('US/Eastern'))
tz_us

datetime.datetime(2022, 10, 22, 12, 59, 59, tzinfo=<DstTzInfo 'US/Eastern' EDT-1 day, 20:00:00 DST>)

In [44]:
print(tz_us)

2022-10-22 12:59:59-04:00

In [53]:
# pytz.all_timezones

In [48]:
#Asia/Calcutta

In [50]:
tz_ind = new_time_zone_info.astimezone(pytz.timezone('Asia/Calcutta'))
print(tz_ind)

2022-10-22 22:29:59+05:30

In [52]:
ind_tz = tz_us.astimezone(pytz.timezone('Asia/Calcutta'))
print(ind_tz)

2022-10-22 22:29:59+05:30

# converting between timezones in pandas

In [55]:
type(tz_us)

datetime.datetime

In [56]:
type(new_time_zone_info)

datetime.datetime

In [63]:
tz_us_pandas = pd.to_datetime(tz_us)
tz_us_pandas

Timestamp('2022-10-22 12:59:59-0400', tz='US/Eastern')

In [58]:
type(tz_us_pandas)

pandas._libs.tslibs.timestamps.Timestamp

In [62]:
# converting between time zones in Pandas
tz_UTC = tz_us_pandas.tz_convert('utc')
tz_UTC

Timestamp('2022-10-22 16:59:59+0000', tz='UTC')

In [65]:
type(tz_UTC)

pandas._libs.tslibs.timestamps.Timestamp

In [66]:
tz_uspandas_to_tzind = tz_UTC.tz_convert('Asia/Calcutta')
tz_uspandas_to_tzind

Timestamp('2022-10-22 22:29:59+0530', tz='Asia/Calcutta')

In [67]:
# for converting between time zones in pandas dataframe
#df['date_tz_Ist'] = pd.DatetimeIndex(df['purchase-date']).tz_convert('Asia/Calcutta')