In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
df = pd.read_excel("sample_-_superstore.xls")
data = df.copy()
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [5]:
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [6]:
data.nunique()

Row ID           9994
Order ID         5009
Order Date       1237
Ship Date        1334
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              531
State              49
Postal Code       631
Region              4
Product ID       1862
Category            3
Sub-Category       17
Product Name     1850
Sales            6144
Quantity           14
Discount           12
Profit           7545
dtype: int64

In [7]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

# Data Preparation

In [40]:
data['Sub-Category'] = data['Sub-Category'].str.strip()
data.dropna(axis= 0, subset=['Order ID'], inplace= True)
data['Order ID'] = data['Order ID'].astype('str')
#data['Order ID'] = data[~data['Order ID'].str.contains('C')]
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [41]:
my_basket = data.groupby(['Order ID','Sub-Category']).agg({'Quantity':'sum'}).unstack().reset_index().fillna(0).set_index('Order ID')
my_basket.head()

                  Quantity                                                   \
Sub-Category   Accessories Appliances  Art Binders Bookcases Chairs Copiers
Order ID
CA-2014-100006         0.0        0.0  0.0     0.0       0.0    0.0     0.0
CA-2014-100090         0.0        0.0  0.0     6.0       0.0    0.0     0.0
CA-2014-100293         0.0        0.0  0.0     0.0       0.0    0.0     0.0
CA-2014-100328         0.0        0.0  0.0     1.0       0.0    0.0     0.0
CA-2014-100363         0.0        0.0  0.0     0.0       0.0    0.0     0.0

                                                                             \
Sub-Category   Envelopes Fasteners Furnishings Labels Machines Paper Phones
Order ID
CA-2014-100006       0.0       0.0         0.0    0.0      0.0   0.0    3.0
CA-2014-100090       0.0       0.0         0.0    0.0      0.0   0.0    0.0
CA-2014-100293       0.0       0.0         0.0    0.0      0.0   6.0    0.0
CA-2014-100328       0.0       0.0         0.0    0.0      0.0   0.0    0.0
CA-2014-100363       0.0       2.0         0.0    0.0      0.0   3.0    0.0


Sub-Category   Storage Supplies Tables
Order ID
CA-2014-100006     0.0      0.0    0.0
CA-2014-100090     0.0      0.0    3.0
CA-2014-100293     0.0      0.0    0.0
CA-2014-100328     0.0      0.0    0.0
CA-2014-100363     0.0      0.0    0.0

In [42]:
def my_encoder(x):
    if x >= 1:
        return 1
    else:
        return 0
    
my_basket_sets = my_basket.applymap(my_encoder)

# Lets Train our Model

In [63]:
# Generating frequent itemsets
my_frequent_items = apriori(my_basket_sets, min_support=0.01, use_colnames= True)
my_frequent_items

     support                                           itemsets
0   0.143342                          ((Quantity, Accessories))
1   0.090038                           ((Quantity, Appliances))
2   0.145937                                  ((Quantity, Art))
3   0.262727                              ((Quantity, Binders))
4   0.044720                            ((Quantity, Bookcases))
..       ...                                                ...
63  0.023358          ((Quantity, Storage), (Quantity, Phones))
64  0.010381           ((Quantity, Tables), (Quantity, Phones))
65  0.010182  ((Quantity, Paper), (Quantity, Binders), (Quan...
66  0.010781  ((Quantity, Paper), (Quantity, Phones), (Quant...
67  0.010581  ((Quantity, Storage), (Quantity, Paper), (Quan...

[68 rows x 2 columns]

In [64]:
# Generating rules
my_rules = association_rules(my_frequent_items, metric= 'lift', min_threshold= 0.8)
my_rules.sort_values('lift', ascending= False).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
101,"((Quantity, Storage))","((Quantity, Paper), (Quantity, Binders))",0.155121,0.054901,0.010581,0.068211,1.242434,0.002065,1.014284
100,"((Quantity, Paper), (Quantity, Binders))","((Quantity, Storage))",0.054901,0.155121,0.010581,0.192727,1.242434,0.002065,1.046585
96,"((Quantity, Phones))","((Quantity, Paper), (Quantity, Binders))",0.162507,0.054901,0.010781,0.066339,1.208336,0.001859,1.012251
93,"((Quantity, Paper), (Quantity, Binders))","((Quantity, Phones))",0.054901,0.162507,0.010781,0.196364,1.208336,0.001859,1.042129
97,"((Quantity, Binders))","((Quantity, Paper), (Quantity, Phones))",0.262727,0.034937,0.010781,0.041033,1.174494,0.001602,1.006357
92,"((Quantity, Paper), (Quantity, Phones))","((Quantity, Binders))",0.034937,0.262727,0.010781,0.308571,1.174494,0.001602,1.066304
63,"((Quantity, Fasteners))","((Quantity, Paper))",0.042923,0.237772,0.011779,0.274419,1.154125,0.001573,1.050507
62,"((Quantity, Paper))","((Quantity, Fasteners))",0.237772,0.042923,0.011779,0.049538,1.154125,0.001573,1.006960
94,"((Quantity, Phones), (Quantity, Binders))","((Quantity, Paper))",0.039728,0.237772,0.010781,0.271357,1.141248,0.001334,1.046092
95,"((Quantity, Paper))","((Quantity, Phones), (Quantity, Binders))",0.237772,0.039728,0.010781,0.045340,1.141248,0.001334,1.005878
76,"((Quantity, Storage))","((Quantity, Labels))",0.155121,0.069076,0.012178,0.078507,1.136537,0.001463,1.010235
77,"((Quantity, Labels))","((Quantity, Storage))",0.069076,0.155121,0.012178,0.176301,1.136537,0.001463,1.025713
103,"((Quantity, Binders))","((Quantity, Storage), (Quantity, Paper))",0.262727,0.035536,0.010581,0.040274,1.133316,0.001245,1.004936
98,"((Quantity, Storage), (Quantity, Paper))","((Quantity, Binders))",0.035536,0.262727,0.010581,0.297753,1.133316,0.001245,1.049877
99,"((Quantity, Storage), (Quantity, Binders))","((Quantity, Paper))",0.039728,0.237772,0.010581,0.266332,1.120114,0.001135,1.038927
102,"((Quantity, Paper))","((Quantity, Storage), (Quantity, Binders))",0.237772,0.039728,0.010581,0.044500,1.120114,0.001135,1.004994
38,"((Quantity, Fasteners))","((Quantity, Binders))",0.042923,0.262727,0.012378,0.288372,1.097611,0.001101,1.036037
39,"((Quantity, Binders))","((Quantity, Fasteners))",0.262727,0.042923,0.012378,0.047112,1.097611,0.001101,1.004397
17,"((Quantity, Binders))","((Quantity, Appliances))",0.262727,0.090038,0.025953,0.098784,1.097140,0.002298,1.009705
16,"((Quantity, Appliances))","((Quantity, Binders))",0.090038,0.262727,0.025953,0.288248,1.097140,0.002298,1.035857

In [68]:
 my_rules.loc[(my_rules['lift'] > 1) & (my_rules['confidence'] >0.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
16,"((Quantity, Appliances))","((Quantity, Binders))",0.090038,0.262727,0.025953,0.288248,1.097140,0.002298,1.035857
20,"((Quantity, Appliances))","((Quantity, Paper))",0.090038,0.237772,0.021761,0.241685,1.016458,0.000352,1.005160
38,"((Quantity, Fasteners))","((Quantity, Binders))",0.042923,0.262727,0.012378,0.288372,1.097611,0.001101,1.036037
63,"((Quantity, Fasteners))","((Quantity, Paper))",0.042923,0.237772,0.011779,0.274419,1.154125,0.001573,1.050507
87,"((Quantity, Paper), (Quantity, Furnishings))","((Quantity, Binders))",0.035336,0.262727,0.010182,0.288136,1.096711,0.000898,1.035693
88,"((Quantity, Furnishings), (Quantity, Binders))","((Quantity, Paper))",0.039529,0.237772,0.010182,0.257576,1.083289,0.000783,1.026674
92,"((Quantity, Paper), (Quantity, Phones))","((Quantity, Binders))",0.034937,0.262727,0.010781,0.308571,1.174494,0.001602,1.066304
94,"((Quantity, Phones), (Quantity, Binders))","((Quantity, Paper))",0.039728,0.237772,0.010781,0.271357,1.141248,0.001334,1.046092
98,"((Quantity, Storage), (Quantity, Paper))","((Quantity, Binders))",0.035536,0.262727,0.010581,0.297753,1.133316,0.001245,1.049877
99,"((Quantity, Storage), (Quantity, Binders))","((Quantity, Paper))",0.039728,0.237772,0.010581,0.266332,1.120114,0.001135,1.038927